<h1>Welcome to Hearts!</h1>
<p>I'm glad you are here. Hearts will ask your pledge to help Seniors in our city of Concord.</p>
<div class="btn-group">

  <button type="button" class="btn btn-lg btn-success">
  	<%= link_to 'Give your pledge today', '#' %></button>
  
  <button type="button" class="btn btn-lg btn-default">
  	<%= link_to 'Donate $10', '#' %>
  </button>

</div>

<br><br><hr>

<!-- show post stream in this welcome page -->
<% @posts.each do |post| %>
	<!-- render post partial -->
	<%= render 'posts/post', post: post %>

	<!-- add spacing between posts -->
	<br><br><br>
<% end %>

